* {
  font-family: "helvetica neue", arial, sans-serif;
}

body {
  background-color: #f9f9f9 !important;
}

.btn-mobile {
  width:100%;
  height: 80px;
  margin: 8px 0;
}

#hint {
  max-width: 440px;
}

.graph {
  position: absolute;
  left: 0;
  float: left;
}

/* tell the SVG path to be a thin blue line without any area fill */
path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
  display: none;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  stroke: black;
  stroke-width: 0.5;
}

.y.axis line, .y.axis path {
  stroke-width: 0.5;
  fill: none;
  stroke: #000;
}

/* Animations */
@keyframes shake {
  0% {
    font-size: 14px;
    color: green;
  }
  50% {
    font-size: 15px;
  }
  100% {
    font-size: 14px;
    color: blue;
  }
}

#prediction {
  animation-duration: .2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

