* {
  font-family: "Andale Mono";
}

#make-button {
  margin-top: 40px;
}

.radio-button {
  height: 28px;
}

.graph {
  position: absolute;
  left: 0;
  float: left;
}

/* tell the SVG path to be a thin blue line without any area fill */
path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: lightgrey;
  display: none;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  stroke: black;
  stroke-width: 0.5;
}

.y.axis line, .y.axis path {
  stroke-width: 0.5;
  fill: none;
  stroke: #000;
}
